<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1><b>Mission to Mars</b></h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>


    <div class="row">
      <div class="col=md-12"></div>
      <h2><b>Latest Mars News</b></h2>
      <h3><b>{{mars.news_title}}</b></h3>
      {{mars.news_p}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2><b>Featured Mars Image</b></h2>
      <img src={{mars.featured_img}}>
    </div>

    <div class="col-md-4">
      </br>
      <h3><b>Mars Facts</b></h3>
      {{ mars.mars_facts | safe}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2><b>Mars Hemispheres</b></h2>
    </div>
  </div>

  </br>

  <div class="row">
    {% for hem in mars.hem_imgs %}
      <img width="200 px", height="200 px" src={{hem.image_url}}>
    </div>
    <div>
      <h4> {{hem.title}} </h4>
    </div>

  </div>
  {% endfor %}

  </div>
  </div>
  </div>
</body>

</html>